$font-family: "Open Sans", Helvetica, sans-serif;

$brand-blue: #2C3E50;
$brand-green: #16A085;
$black: #111;
$white: #FFF;

$card-size: 345px;

$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);




//margin and padding 
$spacesmounts: (1,2,3,4,5,6,7,8,9,10);

@each $space in $spacesmounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
}