/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  p{
    font-size: 1.2rem;
  }

  .banner{
    height: 100vh;
    padding: 14rem 6rem;
    justify-content: center;
  }

  .banner h2{
    padding: 1.5rem;
    font-size: 2rem;
  }

  .banner p {
    max-width: 60%;
    margin: auto;
    padding: 1rem;
  }

  .section-one{
    padding: 3rem 6rem;
  }

  .section-one p{
    padding: 0 3rem;
  }

  .section-one__icons{
    padding-bottom: 1rem;
  }

  .section-two__spotlight{
    padding: 0;
  }

  .section-two__spotlight__content{
    padding: 3rem;
  }

  .section-two__spotlight__content h2{
    font-size: 1.5rem;
  }

  .section-two__spotlight__content p{
    margin-bottom: 0;
  }

  .section-three__header{
    padding: 1rem ;
  }

  .section-three__header h2{
    font-size: 1.5rem;
  }

  .section-three__header p{
    padding: 0 3rem;
  }

  .section-three__content {
    display: inline-block;
    width: 40%;
    padding: 2rem 1rem;
    border: 0;
  }

  .banner--mini{
    padding: 10rem 6rem 6rem 6rem ;
  }

 .btn--primary, .btn--secondary{
    margin: 1rem;
  }
  .sidenav-width {
    width: 40%;
  }

  .more{
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sidenav-width{
    width: 50%;
  }
  p{
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  h2{
    font-size: 1.75rem;
    line-height: 3rem;
  }

  .header{
    height: 4rem;
  }

  .header__title{
    font-size: 1.8rem;
  }

  .header__logo{
    padding-right: 2rem;
    font-size: 2rem;
  }
  
  .banner{
    height: 100vh;
    padding: 14rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inner{
    padding: 0;
  }

  .banner h2{
    padding: 0.35em 1em;
  }

  .banner p {
    font-size: 24px;
    padding: 1rem 5rem;
  }

  .section-one{
    padding: 3rem 6rem;
  }

  .section-one p{
    padding: 0 3rem;
  }

  .section-one__icons{
    padding-bottom: 1rem;
  }

  .section-one__icons li{
    padding: 0 3rem;
  }

  .section-one__icons i {
    font-size: 3rem;
    padding: 1rem;
  } 

  .section-two__spotlight{
    display: flex;
    padding: 0;
    align-items: center;
    margin-bottom: -4px;
  }

  .section-two__spotlight:nth-child(2){
    flex-direction: row-reverse;
    background-color: #242c33 
  }

  .section-two__spotlight__content{
    text-align: left;
    padding: 0 3rem;
  }

  .section-two__spotlight__content h2{
   font-size: 1.4rem;
  }

  .section-two__spotlight__content p{
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .section-three {
    padding: 1rem 1rem;
}

  .section-three__header{
    padding: 1rem ;
  }

  .section-three__header p{
    padding: 0 8rem;
  }

  .section-three__content {
    display: inline-block;
    width: 49%;
    padding: 2rem 0;
    border: 0;
    text-align: center;
  }

  .section-three__content i {
    font-size: 2rem;
  }

  .section-three__content h3 {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .section-three__content p {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .banner--mini{
    height: 50vh;
    padding: 10rem 6rem 6rem 6rem ;
  }

  .more{
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sidenav-width{
    width: 30%;
  }
  p{
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  h2{
    font-size: 1.75rem;
    line-height: 3rem;
  }

  .header{
    height: 4rem;
  }

  .header__title{
    font-size: 1.3rem;
  }

  .header__logo{
    padding-right: 2rem;
    font-size: 1.7rem;
  }
  
  .banner{
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
  }

  .inner{
    margin: 0;
  }

  .banner h2{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.35em 1em;
  }

  .banner p {
    font-size: 20px;
    padding: 1rem 0;
    line-height: 2rem;
    max-width: 50%;
    margin: auto;
  }

  .section-one{
    padding: 5rem 15rem;
  }

  .section-one h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0 6rem 1rem 6rem;
  }

  .section-one p{
    padding: 0 6rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .section-two__spotlight{
    display: flex;
    padding: 0;
    align-items: center;
  }

  .section-two__spotlight:nth-child(2){
    flex-direction: row-reverse;
    background-color: #242c33 
  }

  .section-two__spotlight__content{
    text-align: left;
    padding: 0 3rem;
  }

  .section-two__spotlight__content h2{
   font-size: 1.4rem;
  }

  .section-two__spotlight__content p{
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  .section-three {
    padding: 4rem 1rem;
}

  .section-three__header{
    padding: 1rem ;
  }

  .section-three__header h2 {
    color: #fff;
    width: 55%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .section-three__header p{
    position: relative;
    max-width: 50%;
    margin: auto;
    padding: 1rem 0 3rem 0;
  }

  .section-three__content {
    display: inline-block;
    width: 30%;
    padding: 2rem 0 2rem 2rem;
    border: 0;
    text-align: left;
    margin-top: 6px;
  }

  .section-three__content:nth-child(2){
    background: #4D508D;
  }
  .section-three__content:nth-child(3){
    background: #4A4D88;
  }
  .section-three__content:nth-child(4){
    background: #474A83;
  }
  .section-three__content:nth-child(5){
    background: #45477E;
  }
  .section-three__content:nth-child(6){
    background: #424478;
  }
  .section-three__content:nth-child(7){
    background: #3F4173;
  }

  .section-three__content i {
    font-size: 1.5rem;
  }

  .section-three__content h3 {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .section-three__content p {
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-left: 0;
    margin: 0;
  }

  .banner--mini{
    height: 80vh;
    padding: 10rem 0 ;
  }

  .banner--mini p {
    max-width: 100%;
  }

  .more{
    display: block;
  }
}