@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

body{
  color: rgba(255, 255, 255, 0.65);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.65;
}

.container{
  display: block;
  position: relative;
  max-width: 85%;
  height: auto;
  padding: 24px;
  margin: auto;
  opacity: 1;
  filter: none;
  transition: opacity 1s ease, filter 1s ease ;
}